doctype html
html(lang="en")
    head
        title= Hangman
        script(src="../bower_components/angular/angular.js")
        script(src="../bower_components/bootstrap/dist/js/bootstrap.js")
        script(src="../bower_components/jquery/dist/jquery.js")
        link(src="../bower_components/fontawesome/css/font-awesome.css", rel='stylesheet')

        script(src="../js/main.js")
        link(href="../stylus/main.css", rel='stylesheet')
    body
